.book-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 3px #ccc;
  width: 200px;
  height: 300px;
  text-align: center;
}

.book-item h2,
.book-item p{
    margin: 5px 0;
}

.button {
    background-color: #df1839;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px; 
    font-size: 14px;
    width: 250px;
}

.books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.delete-button {
  margin-top: 150px;
}